/.env.local
/.env.local.php
/.env.*.local
/.php-cs-fixer.cache
/certs/
/config/secrets/prod/prod.decrypt.private.php
/config/jwt/*.pem
/public/bundles/
/var/
/vendor/
/tools/php-cs-fixer/vendor/

.idea

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
